{{#each this}}<img class="modal__gallery__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
  alt="{{title}} movie poster">
<h3 class="modal__gallery__movie-title">{{title}}</h3>
<ul>
  <li>Vote / Votes_______{{vote_average}}/{{vote_count}} </li>
  <li>Popularity_________{{popularity}}</li>
  <li>Original Title______{{original_title}}</li>
  <li>Genre_____________{{#each genres}}{{name}} {{/each}}</li>
</ul>
<h4 class="modal__gallery__movie-about">ABOUT</h4>
<p>{{overview}}</p>
{{/each}}