<li class="gallery__item modal-trigger" data-target="modal-card" data-id="{{id}}">
    <div class="gallery__img-container" data-id="{{id}}">


        {{#if poster_path}} <img class="gallery__img" src="https://image.tmdb.org/t/p/w500{{ poster_path}}"
            alt="{{title}} movie poster">
        {{else}}
        <img class="gallery__img"
            src="https://cdn1.savepice.ru/uploads/2021/4/7/48a6c7fa4eb46d0887142d14b2a2ec7e-full.png"
            alt="Movie poster not available">

        {{/if}}

    </div>
    <h3 class="gallery__movie-title">{{title}}</h3>
    <p class="gallery__movie-genre">{{genres}} | {{year}}
    </p>
    <span class="gallery__movie-rating">{{vote_average}}</span>
</li>